.home {
	//hero header
	.main-banner{
		img,
		> img {
			display: block;
			width: 100%;
			height: auto;
			margin-top: -1em;
		}

		>img{
			@include mobile{
				display: none;
			}
		}
		.mobile-banner{
			display: none;
			@include mobile{
				display: block;
				img{
					margin: 0;
				}
			}
		}
	}// end of banner
	

	//about
	.container{
		&.about{
			margin-top: 3em;
			margin-bottom: 2em;
			//image
			.about-img {
				figure {
					background-size: cover;
					background-position: center center;
					min-height: 300px;
					h2 {
						font-weight: bold;
						color: $white;
						text-align: center;
						margin-top: 20%;
						width: 100%;
						text-transform: uppercase;
						display: inline-block;
						position: relative;
						font-size: 2.5em;
						&::after {
							content: "";
							display: block;
							width: 120px;
							height: 6px;
							background-color: $white;
							position: absolute;
							top: 40px;
							left: 50%;
							margin-left: -60px;
						}
					}
				}
			}
		}
	}//end about

	//products
	#productos {
		padding: 3em 0;
		background-color: $gray;
		.product-icons {
			.title {
				font-size: 3em;
				text-transform: uppercase;
				margin-top: 60px;
				color: $green;
				text-align: center;
				@include mobile{
					margin-top: 1em;
				}
			}
			// items
			.item{
				position: relative;
				margin-top: 1em;
				margin-bottom: 1em;
				h3{
					text-align: center;
					font-weight: bold;
					color: $gray-bk;
					font-size: 1em;
				}

				figure {
					img {
						display: block;
						margin: 1em auto;
					}
				}

				> a {
					display: block;
					width: 100%;
					max-width: 150px;
					color: $white;
					background-color: $green;
					font-weight: bold;
					text-align: center;
					color: $white;
					padding: .5em;
					margin: 1em auto;
				}
			}
		}
	} //end of icons

	//product list
	#product-list {
		.product{
			overflow: hidden;
			padding: 2em 0;
			.container{
				> div {
					width: 50%;
					@include mobile{
						width: 100%;
					}
					//thumb
					&.image-pr{
						img {
							margin: 1em auto;
							max-width: 100%;
						}
					}
					//info
					&.desc-prod {
						
						h2{
							color: $green;
							margin-top: 2em;
						}

						.menu-side{
							border: 1px solid $gray-lt;
							box-shadow: 0 0 10px $gray;
							background-color: white;
							width: 90%;
							@include mobile{
								width: 100%;
							}

							h3{
								cursor: pointer;
								margin: 0;
								padding: .5em;
								position: relative;
								border-bottom: 1px solid $gray-lt;
								font-weight: bold;
								font-size: 1.2em;
								i {
									color: $green;
									position: absolute;
									right: 1em;
									top: 12px;
									transform: rotate(180deg);
									transition: all .3s;
								}

								&.collapsed{
									i{
										transform: rotate(0deg);
										transition: all .3s;
									}
								} 
							}

							> div{
								padding: 1em;
							}
						}
					}
				}
			}
			//pairs
			&:nth-child(even){
				background-color: $gray;
				.container {
					> div {
						float: left;
						@include mobile{
							float: none;
						}
					}
				}
			}
			//impair
			&:nth-child(odd){
				.container {
					> div {
						float: right;
						@include mobile{
							float: none;
						}
					}
				}
			}
		}
	} //end of products
	//contacto
	#contacto {
		padding: 3em 0;
		background-color: $gray-bk;
		color: $white;
		text-align: center;
		p{
			max-width: 340px;
			margin: 3em auto;
		}
		//form
		form{
			p{
				margin: 1em auto;
				text-align: left;
				input{
					color: $gray-bk;
				}
			}	
		}
		//list
		ul{
			padding: 0;
			max-width: 960px;
			margin: 2em auto;
			li {
				list-style: none;
				width: 33%;
				display: inline-block;
				img {
					display: inline-block;
					vertical-align: middle;
					margin-right: 1em;
				}
				a {
					color: $white;
				}
			}
		}
	} //end of contact
}